/* My CSS */

body {
background:#fff url(../images/bgpattern.png) repeat;
width:100%;
color:#FF0099;
font-family:'Roboto', sans-serif;
font-size:1em;
margin:0 auto;
padding:2%;
}

#container {
width:100%;
text-align:center;
background-color:#00000c;
border:5px #0000FF;
border-radius:5px;
padding-bottom:20px;
margin:0 auto;
}

#logo {
margin-left:-8px;
border:2px 2px #FF0099;
}

h1 {
font-family:'Roboto', sans-serif;
color:#FF0099;
font-size:4em;
text-align:center;
margin:0 auto;
padding:2%;
}

h2 {
font-family:'Roboto', sans-serif;
color:#ffffff;
font-size:1.5em;
text-align:center;
padding:2%;
}

h3 {
text-align:left;
font-family:'Roboto', sans-serif;
}

#homeimage {
width:50%;
border-radius:10px;
margin:0 auto;
padding:1%;
}

p {
text-align:center;
}

button {
background-color:#FF0099;
color:white;
width:150px;
height:30px;
padding:5px;
}

#signInButton {
color:black;
}

#register input {
width:200px;
margin:0 auto;
padding:5px;
}

#register label {
padding:5px;
}

#registerNow input {
width:200px;
margin:0 auto;
padding:5px;
}

#registerNow label {
padding:5px;
}

.photogallery {
width:80%;
overflow:hidden;
margin:0 auto;
}

.photo {
color:#797478;
float:left;
width:16%;
margin:2% 2% 50px;
}

.photo img {
max-width:100%;
border-radius:5px;
border-radius:5px;
border-radius:5px;
}

figure {
margin-left:9px;
padding:5px;
}

.search p {
margin-left:-1080px;
}

.about {
font-family:'Roboto', sans-serif;
font-size:2em;
color:white;
padding:2px;
}

aside h2 {
font-size:3em;
color:#FF0099;
font-weight:bold;
margin-left:-110px;
}

aside p {
font-size:1.5em;
color:#FF0099;
margin-left:20px;
}

aside {
margin-top:-650px;
margin-left:60px;
}

h3 .header,.search h1 {
text-align:left;
}

.addbtn {
	margin-top: -130px;
	margin-left: 20px;
}

.faves h2 {
	color: #FF0099;
	font-size: 2.5em;
	font-weight: bold;
	text-align: left;
}
